<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/tmanga?characterEncoding=UTF-8</property>
		<property name="hibernate.connection.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		
		<!-- JDBC connection pool settings -->
		<property name="connection_pool_size">10</property>
		
		<!-- Echo the SQL -->
		<property name="show_sql">true</property>
		
		<!-- Create or Update the database schema on startup -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<!-- Using for xml mapping file -->
		<!-- <mapping resource="com/website/hibernate/Student.hbm.xml"></mapping> -->	
		
		<!-- Using for annotation -->
		<mapping class="entities.tacgia"></mapping>
		<mapping class="entities.nxb"></mapping>
		
	</session-factory>
</hibernate-configuration>